@model IEnumerable<Project_Work.Models.EquipmentType>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="d-flex justify-content-end mb-1">
    @Html.ActionLink("Create New","Create", "EquipmentAndParts", new { }, new { @class="btn btn-primary"})
</div>
<table class="table table-bordered table-primary">
    <thead class="thead-dark">
        <tr>
            <th></th>
            <th>
                Type Id
            </th>
            <th>
                Type Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model)
        {
            <tr>
                <td><button type="button" class="btn select" data-typeid="@t.EquipmentTypeId"><i class="fa fa-plus"></i></button></td>
                <td>@t.EquipmentTypeId</td>
                <td>@t.TypeName</td>
            </tr>
            <tr style="display:none" id="@("equipments" + t.EquipmentTypeId)">
                <td colspan="3">
                    <table class="table table-bordered table-success">
                        <thead class="thead-light">
                            <tr>
                                <th></th>
                                <th>Model</th>
                                <th>Purchase Date</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var eq in t.Equipments)
                            {
                                <tr>
                                    <td>
                                        <button type="button" class="btn parts" data-equipmentid="@eq.EquipmentId"><i class="fa fa-plus"></i></button>
                                    </td>
                                    <td>
                                        @eq.Model
                                    </td>
                                    <td>
                                        @eq.PurchaseDate.ToString("yyyy-MM-dd")
                                    </td>

                                </tr>
                                <tr style="display:none" id="@("part" + eq.EquipmentId)">
                                    <td colspan="3">
                                        <table class="table table-bordered table-secondary">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>Par Name</th>
                                                    <th>Stock</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var p in eq.Parts)
                                                {
                                                    <tr>
                                                        <td>@p.PartName</td>
                                                        <td>@p.Stock</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal" tabindex="-1" role="dialog" id="partsModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Parts</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="partlocation">

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section styles{

    <link href="~/Content/font-awesome.css" rel="stylesheet" />
}
@section scripts{

    <script>
        $(document).ready(function () {
            $("button.select").click(function () {

                var tid = $(this).data("typeid");
                $("#equipments" + tid).toggle();
                $(this).find("i").toggleClass("fa-plus fa-minus");
            });
            $("button.parts").click(function () {
                var pid = $(this).data("equipmentid");
                //$.ajax({
                //    type: "GET",
                //    url: "/Equipments/GetParts/" + pid
                //})
                //    .done(function (result) {
                //        //console.log(result);
                //        $("#partlocation").html(result);
                //        $("#partsModal").modal();
                //    });
                $("#part" + pid).toggle();
                $(this).find("i").toggleClass("fa-plus fa-minus");
            });
        });
    </script>
}
